.content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 300px);
}

@media (max-width: 1024px) {
  .content {
    max-height: 420px;
  }
}

@media (max-width: 768px) {
  .content {
    max-height: none;
    overflow: visible;
  }
}
