.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  padding-top: 72px;
  background-color: #131316;
  color: #f2f2f3;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #8585ad;
  background: #8585ad;
}

.detailPageWrap {
  margin: 120px auto;
  width: min(100%, 1240px);
  padding: 0 20px;
}

.detailHeader {
  text-align: center;
}

@media (max-width: 1024px) {
  .detailPageWrap {
    margin: 72px auto;
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .app {
    padding-top: 60px;
  }

  .detailPageWrap {
    margin: 32px auto 24px;
    padding: 0 12px;
  }

  .detailHeader {
    text-align: left;
  }
}
