.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 260px;
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
}

.cost {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
}

.addButton {
  width: 100%;
  max-width: 260px;
  justify-content: center;
}

@media (max-width: 560px) {
  .article,
  .addButton {
    max-width: none;
  }

  .article {
    padding: 0 8px;
  }
}
